@font-face {
    font-family: "DSEG7";
    src: url("DSEG7Classic-Bold.woff2");
}

body {
    font-family: DSEG7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #080808;
}

#time {
    font-size: 12rem;
    color: red;
    user-select: none;
}

#time .ms {
    font-size: 8rem;
}

